statemachine.json
{
  "Comment": "SolarEdgeMonitor",
  "StartAt": "SolarEdgeOverview",
  "States": {
    "SolarEdgeOverview": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "1_LAMBDA_ARN"
      },
      "Next": "SolarEdgeDetails",
      "TimeoutSeconds": 30
    },
    "SolarEdgeDetails": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "2_LAMBDA_ARN",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "solarEdgeSendStatusToIFTTT",
      "TimeoutSeconds": 30
    },
    "solarEdgeSendStatusToIFTTT": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "3_LAMBDA_ARN",
        "Payload": {
          "Input.$": "$"
        }
      },
      "TimeoutSeconds": 30,
      "End": true
    }
  }
}
